<%- include("../partials/header") %>

<div class="row">
	<div class="col-md-4">
			<h1><%= user.firstName + " " + user.lastName %></h1>
		<div class="thumbnail">
			<div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
		</div>
	</div>
	<div class="col-md-8">
		<h3><%= user.username %>'s ArtWork:</h3>
		<ul>
		<% artworks.forEach(function(artwork) { %>
			<li><a href="/artworks/<%= artwork.id %>"><%= artwork.name %></a></li>
		<% }); %>
		</ul>
	</div>
</div>

	<%- include("../partials/footer") %>